/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
/*Common CSS*/
.hubspot-section{
  padding-top: 0;
  border: none;
  display: block;
}
.hubspot-section .input select{
    border:1px solid #ccc;
    padding: 7px 15px;
    background: none;
    height: auto;
    width: 100%;
}

.hs-error-msgs.inputs-list li label{
  color: red;
  font-weight: 300;
  text-align: left;
}
.hs_submit .actions .hs-button:focus{
  outline: 0;
}
.hs_submit .actions .hs-button{
  display: inline-block;
  text-shadow: none;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  letter-spacing: .5px;
  text-align: center;
  color: #d34e27;
  border-radius: 100px;
  box-shadow: 0 0 40px 0 rgba(213, 213, 213, .5);
  border: 1px solid #e16261;
  background: 0 0;
  width: auto;
  padding: 0 4em;
  height: 40px;
  position: inherit;
}
.hs_message.field.hs-form-field legend {
  border-bottom: none;
}
.hs_submit .actions .hs-button:hover {
  color: #d34e27;
  border: 1px solid #e16261;
  box-shadow: 0 0 40px 0 rgba(213, 213, 213, .5);
}
.hs_message.field.hs-form-field textarea {
  max-width: 100%;
}
.hs-error-msgs.inputs-list ul li {
  margin-left: 0;
}
.hubspot-section .hbspt-form .input select{
    border-radius: 4.2px;
    border: solid 2.1px #ccc;
    padding: 7px 15px;
    background: none;
    font-weight: 300;
}
.hubspot-section .hbspt-form .input input,.hubspot-section .hbspt-form .input textarea{
  background: none;
}
.hs_recaptcha.field.hs-form-field{
padding-top:20px;
padding-bottom:20px; 
}
.hubspot-section .hbspt-form .input textarea.hs-input{
  width: 100%;
  border:1px solid #ccc;
  height: 100px;
}
.sociallinks li{
  list-style: none;
    display: inline-block;
    padding: 10px;
}
.sociallinks{
  text-align: center;
}
/* Modal CSS */
.white-popup .hubspot-section .hs_submit .actions .hs-button{
  text-shadow: none;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  letter-spacing: .5px;
  text-align: center;
  color: #d34e27;
  border-radius: 100px;
  box-shadow: 0 0 40px 0 rgba(213, 213, 213, .5);
  border: 1px solid #e16261;
  background: 0 0;
  width: auto;
  padding: 0 4em;
  height: 40px;
  display: block;
  position: inherit;
}
.white-popup .hubspot-section .hbspt-form fieldset{
margin-bottom: 25px;
max-width: 100%;
}
.mfp-container .mfp-content .white-popup .input input{
    border: 1px solid #ccc;
    padding: 7px 15px;
    background: none;
    height: auto;
    width: 100%;
}
.mfp-container .mfp-content .white-popup .input select{
    border:1px solid #ccc;
    padding: 7.4px 15px;
    background: none;
    width: 100%;
}


.mfp-container .mfp-content .hbspt-form label {
    font-size: 15px;
    line-height: 32px;
    letter-spacing: .5px;
    margin-bottom: 3px;
    font-weight: 400;
}
.mfp-container .mfp-content .hbspt-form label span{
     color:#626672;
}

.mfp-container .mfp-content .form-title {
  text-align: center;
  line-height: 1.22;
  letter-spacing: .5px;
  color: #373b44;
  font-weight: 400;
  font-size: 1.75em;
  margin-top: 0;
  font-size: 34px;
  font-style: normal;
  margin: 0 auto;
}
.mfp-container .mfp-content .hbspt-form .hs-richtext{
  font-size: 1.125em;
  line-height: 1.22;
  text-align: center;
  color: #626672;
  margin: .6875em auto 1.8125em;
  width: auto;
  max-width: 35em;
  font-weight: 300;
  font-family: 'Gibson';
}
.hbspt-form .form-columns-3 .hs-form-field:last-child div {
    margin-right: 0;
}

.hs-error-msgs.inputs-list li,.hs-error-msgs.inputs-list{
  margin-left:0;
  font-size: 16px;
  padding-left: 0;
  font-weight: 300;
  list-style: none;
}
.mfp-container .mfp-content .hbspt-form .hs-richtext span{
color:#626672 ;
}
.hbspt-form .submitted-message{
    text-align: center;
    font-size: 20px;
   
    font-weight: 300;
}
@media screen and (max-width:767px){
  .mfp-container .mfp-content .white-popup{
    width: 100%;
    padding:20px;
  }
    .hs_recaptcha{
    transform: scale(0.77);
    -webkit-transform: scale(0.77);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
  }
  
  .mfp-content .white-popup.preview-cpopup-link{
    margin: 0;
  }
  .mfp-container.mfp-s-ready{
    padding: 0;
  }
  .white-popup .hbspt-form fieldset.form-columns-3 .input,.white-popup .hbspt-form fieldset.form-columns-2 .input{
    margin-right: 0;
  }

}