/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.wrap.hubspot h2{
 color:#33475b;
 border-bottom:1px #cbd6e2 solid;
 padding-bottom: 1rem;
 font-size: 1.75rem;
 line-height: normal;
}
#wpwrap{
	background-color: #fff;
}